@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: var(--color-white);
  transition: background-color 0.2s ease;
}

html.dark body {
  background-color: var(--color-app-gray-900);
}

@theme {
  --breakpoint-xs: 348px;

  --color-app-black: oklch(0.24 0.07 210);
  --color-app-white: oklch(1 0 0);

  --color-app-gray-50: oklch(0.89 0.01 180);
  --color-app-gray-100: oklch(0.85 0.01 180);
  --color-app-gray-200: oklch(0.69 0.02 180);
  --color-app-gray-300: oklch(0.44 0.02 180);
  --color-app-gray-700: oklch(0.29 0.01 180);
  --color-app-gray-800: oklch(0.22 0.01 180);
  --color-app-gray-900: oklch(0.17 0.01 180);

  --color-app-green-50: oklch(0.99 0.05 135);
  --color-app-green-100: oklch(0.96 0.09 135);
  --color-app-green-200: oklch(0.77 0.08 155);
  --color-app-green-300: oklch(0.87 0.12 135);
  --color-app-green-400: oklch(0.58 0.12 165);
  --color-app-green-500: oklch(0.38 0.09 175);
  --color-app-green-600: oklch(0.32 0.06 195);
  --color-app-green-700: oklch(0.28 0.06 195);
  --color-app-green-800: oklch(0.23 0.06 195);
  --color-app-green-900: oklch(0.16 0.05 195);

  --color-app-purple-400: oklch(0.68 0.17 320);
  --color-app-purple-500: oklch(0.66 0.12 280);

  --color-app-teal-500: oklch(0.54 0.12 195);
}

.dark {
  --color-app-black: oklch(0.82 0.03 85);
  --color-app-white: oklch(0.27 0.01 210);

  --color-app-gray-50: oklch(0.39 0.01 220);
  --color-app-gray-100: oklch(0.36 0.01 220);
  --color-app-gray-200: oklch(0.57 0.02 165);
  --color-app-gray-300: oklch(0.68 0.02 150);
  --color-app-gray-700: oklch(0.31 0.01 210);
  --color-app-gray-800: oklch(0.28 0.01 210);
  --color-app-gray-900: oklch(0.27 0.01 210);

  --color-app-green-50: oklch(0.27 0.01 210);
  --color-app-green-100: oklch(0.28 0.01 210);
  --color-app-green-200: oklch(0.74 0.07 160);
  --color-app-green-300: oklch(0.76 0.07 135);
  --color-app-green-400: oklch(0.76 0.07 135);
  --color-app-green-500: oklch(0.67 0.05 135);
  --color-app-green-600: oklch(0.61 0.05 135);
  --color-app-green-700: oklch(0.55 0.05 135);
  --color-app-green-800: oklch(0.31 0.01 210);
  --color-app-green-900: oklch(0.28 0.01 210);

  --color-app-purple-400: oklch(0.73 0.09 340);
  --color-app-purple-500: oklch(0.65 0.10 345);

  --color-app-teal-500: oklch(0.74 0.07 160);
}
